body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    line-height: 1.5;
    color: black;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 15px 0;
}

.title-wrap {
    max-width: 560px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-icon {
    font-size: 42px;
    cursor: pointer;
    user-select: none;
}

.form-box {
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.field-group {
    margin-bottom: 15px;
}

    .field-group label {
        display: block;
    }

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    box-sizing: border-box;
}

input[type="color"] {
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
}

.option-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.agree-label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

button[type="submit"] {
    width: 100%;
    padding: 16px;
    background: #4caf50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

    button[type="submit"]:hover {
        background: #45a049;
    }

#theme-toggle:checked ~ .form-box {
    background: #1f1f1f;
    color: white;
}
#theme-toggle:checked ~ label{
    background-color: grey;
}